body{
    background-size: cover;
    background-repeat: no-repeat;
}
.top_panel{
    width: 100vw;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(0, 4, 79);
}
.top_panel img{
    padding-left: 20px;
    padding-top: 10px;
}



.top_panel nav .home{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 30px;
    left: 120px;
    top: 30px;
    text-decoration: none;
    color: white;
}
.top_panel nav .trophy_cabinet{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 30px;
    left: 230px;
    top: 30px;
    text-decoration: none;
    color: white;
}
.top_panel nav .shop{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 30px;
    left: 460px;
    top: 30px;
    text-decoration: none;
    color: white;
}
.top_panel nav .mascot{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 30px;
    left: 570px;
    top: 30px;
    text-decoration: none;
    color: white;
}
.top_panel nav .login{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 30px;
    right: 170px;
    top: 30px;
    text-decoration: none;
    color: white;
}

.best{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    color: yellow;
    position: absolute;
    top: 160px;
    left: 0vw;
    transition: all .2s ease;
    animation: tc_anim 2s forwards;
}
@keyframes tc_anim{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(40vw);
    }
}

.trophies{
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 280px;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 90vh;
}
.UCL{
    position: absolute;
    left: 12%;
    top: 2%;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
}
.UCL:hover{
    box-shadow: 0px 0px 9px;
    transition: box-shadow .25s ease ;
}
.UCL img{
    position: absolute;
    top: 20px;
    left: 20px;
}
.UCL p{
    position: absolute;
    top: 70px;
    left: 180px;
}
.UCL a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 180px;
}

.FCWC{
    position: absolute;
    left: 12%;
    top: 34%;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
}
.FCWC:hover{
    box-shadow: 0px 0px 9px;
    transition: box-shadow .25s ease ;
}
.FCWC img{
    position: absolute;
    top: 20px;
    left: 20px;
}
.FCWC p{
    position: absolute;
    top: 70px;
    left: 180px;
}
.FCWC a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 180px;
}

.LaLiga {
    position: absolute;
    left: 12%;
    top: 66%;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
}
.LaLiga:hover{
    box-shadow: 0px 0px 9px;
    transition: box-shadow .25s ease ;
}
.LaLiga  img{
    position: absolute;
    top: 20px;
    left: 20px;
}
.LaLiga  p{
    position: absolute;
    top: 70px;
    left: 180px;
}
.LaLiga a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 180px;
}

.Copa {
    position: absolute;
    left:50%;
    top: 2%;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
}
.Copa:hover{
    box-shadow: 0px 0px 9px;
    transition: box-shadow .25s ease ;
}
.Copa  img{
    position: absolute;
    top: 20px;
    left: 20px;
}
.Copa  p{
    position: absolute;
    top: 50px;
    left: 180px;
}
.Copa a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 180px;
}

.ESuperCup {
    position: absolute;
    left:50%;
    top: 34%;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
}
.ESuperCup:hover{
    box-shadow: 0px 0px 9px;
    transition: box-shadow .25s ease ;
}
.ESuperCup  img{
    position: absolute;
    top: 20px;
    left: 20px;
}
.ESuperCup p{
    position: absolute;
    top: 70px;
    left: 180px;
}
.ESuperCup a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 180px;
}

.SSuperCup {
    position: absolute;
    left:50%;
    top: 66%;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
}
.SSuperCup:hover{
    box-shadow: 0px 0px 9px;
    transition: box-shadow .25s ease ;
}
.SSuperCup  img{
    position: absolute;
    top: 20px;
    left: 20px;
}
.SSuperCup p{
    position: absolute;
    top: 70px;
    left: 180px;
}
.SSuperCup a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 180px;
}